body {
    font-family: system-ui,Arial;
    background: #ffffff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: background .3s,color .3s
}

.container {
    margin-top: 25px;
    width: 322px;
    padding-bottom: 70px
}

.label {
    font-size: 14px;
    color: #555;
    margin: 0 0 8px
}

.input-box {
    width: 322px;
    height: 53px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    box-sizing: border-box;
    margin-bottom: 18px;
    transition: border .2s,background .3s;
    position: relative
}

.input-box:focus-within {
    border: 1px solid #0702F8
}

.input-box input {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    color: #000;
    background: #fff
}

.input-box span.address-text {
    color: #000;
    flex: 1 1 auto;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px
}

.right-text {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px
}

.right-text .usdt-text {
    color: #b0b0b0
}

.right-text .max-text {
    color: #0702f8
}

.next-btn {
    width: 324px;
    height: 45px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 21px;
    margin: 0 auto;
    padding: 12px;
    box-sizing: border-box;
    background: #9B98FF;
    color: #fff;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    transition: background .3s,color .3s
}

.next-btn.active {
    background: #0702F8;
    pointer-events: auto;
    cursor: pointer
}

.input-box-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 12px
}

.paste-text {
    font-size: 14px;
    color: #0702f8!important;
    cursor: pointer
}

.input-box-right svg {
    width: 16px;
    height: 16px;
    color: #0702f8;
    flex-shrink: 0
}

.usd-text {
    font-size: 13px;
    color: #555;
    position: absolute;
    left: 12px;
    pointer-events: none
}

@media (prefers-color-scheme: dark) {
    body {
        background:#1b1b1b;
        color: #fff
    }

    h1 {
        color: #fff
    }

    .usd-text,.label {
        color: #b0b0b0
    }

    .input-box {
        background: #1b1b1b;
        border: 1px solid #333
    }

    .input-box:focus-within {
        border: 1px solid #00D97E
    }

    .input-box span.address-text {
        color: #b0b0b0;
        flex: 1 1 auto;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 8px
    }

    .input-box input {
        color: #b0b0b0;
        background: #1b1b1b
    }

    .paste-text,.input-box-right svg {
        color: #00d97e!important
    }

    .right-text .max-text {
        color: #00d97e
    }

    .next-btn.active {
        background: #00D97E;
        color: #000
    }
}
